{
  "presets": ["@babel/typescript", ["@babel/env", { "modules": false }]],
  "env": {
    "test": {
      "presets": ["@babel/typescript", ["@babel/env", { "modules": "commonjs" }]],
      "plugins": ["@babel/plugin-transform-modules-commonjs", "@babel/plugin-proposal-class-properties"]
    }
  }
}